@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-spin-slow {
        animation: rotateAndReturn 500ms linear;
    }

    .hover\:animate-none:hover {
        animation: none;
    }
}

@keyframes rotateAndReturn {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


/* styles.css or styles.scss */
/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */
