@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-spin-slow {
        animation: rotateAndReturn 500ms linear;
    }

    .hover\:animate-none:hover {
        animation: none;
    }
}

@keyframes rotateAndReturn {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.animate-shimmer {
    animation: shimmer 1.2s infinite linear;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.7));
    background-size: 200px 100%;
}


@keyframes shimmer {
    0% {
        background-position: -100px 0;
    }

    100% {
        background-position: 100px 0;
    }
}