<div class="w-full  text-gray-50">
    <div class="flex flex-wrap gap-2">
        <div class="w-full">
            <h4 class="font-semibold text-xl sm:text-3xl text-center my-4">GitGallery - Explore GitHub</h4>
            <div class="mt-2 mb-5 flex justify-center gap-2">

                <div class="relative ">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 cursor-pointer">
                        <span class="text-black" onclick="copyMyId()" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Copy my github id"><i class="bi bi-github"></i></span>
                    </div>
                    <input type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 "
                        id="username" placeholder="Type name..." [(ngModel)]="usernameRef">
                </div>
                <button class="bg-blue-600 text-gray-50 px-3 py-1 rounded-lg" (click)="searchUser()"><i
                        class="bi bi-search"></i></button>
            </div>

            <div class="mb-3 px-4">

                <div class="bg-[#2A272A] rounded-lg py-10 px-3 ">

                    <div class="flex flex-wrap justify-center w-full gap-3">
                        <div class="w-full xm:w-[calc(50%-12px)] sm:w-[calc(33%-9px)] md:w-[calc(25%-9px)] lg:w-[calc(20%-12px)] text-center mb-5"
                            *ngFor="let data of users.items">
                            <a [href]="'./view_repo.html?username=' + data.login"
                                class="text-decoration-none max-w-fit">
                                <div class="">
                                    <img [src]="data.avatar_url" class=" w-[120px]  mx-auto object-cover rounded-full transition duration-500 hover:animate-spin-slow "
                                        alt="avatarImg">
                                    <div class="loader imgLoader"></div>
                                </div>
                                <h5 class="mt-1 text-light">{{ data.name ?? data.login }}</h5>
                            </a>
                        </div>
                    </div>


                    <div *ngIf="users.items.length === 0">
                        <span class="text-gray-50">No user found...</span>
                    </div>


                    <div class="px-10">
                        <hr class="mt-5 mb-5 bg-gray-500 h-[1px] border-none">
                    </div>
                    <app-pagination (pageChange)="pageChange($event)" (perPageChange)="perPageChange($event)"
                        [currentPage]="page" [perPage]="perPage" [totalPages]="totalPages"></app-pagination>

                </div>
            </div>



            <!-- loader -->
            <div class="loader-div" id="loader">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>