<div class="w-full  text-gray-50">
    <div class="flex flex-wrap gap-2">
        <div class="w-full">
            <h4 class="font-semibold text-xl sm:text-3xl text-center my-4">GitGallery - Explore GitHub</h4>
            <div class="mt-2 mb-5 flex justify-center gap-2">

                <div class="relative ">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 cursor-pointer">
                        <span class="" onclick="copyMyId()" data-bs-toggle="tooltip" data-bs-placement="top"
                            title="Copy my github id"><i class="bi bi-github"></i></span>
                    </div>
                    <input type="text"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 "
                        id="username" placeholder="Type name..." [(ngModel)]="usernameRef">
                </div>
                <button class="btn btn-primary" (click)="fetchData()"><i class="bi bi-search"></i></button>
            </div>

            <div class="mb-3 px-4 ">

                <div class="bg-[#2A272A] rounded-lg py-10" style="position: relative;">

                    <div
                        class="flex flex-wrap justify-center  w-full max-h-[calc(100vh-150px)] overflow-y-auto hide-scrollbar gap-3">
                        <div class="w-full xm:w-[calc(50%-12px)] sm:w-[calc(33%-9px)] md:w-[calc(25%-9px)] lg:w-[calc(20%-12px)] text-center "
                            *ngFor="let data of users.items">
                            <a [href]="'./view_repo.html?username=' + data.login"
                                class="text-decoration-none max-w-full">
                                <div class="rounded-2xl bg-[#45434C] p-3 lg:p-5 max-w-fit mx-auto">
                                    <img [src]="data.avatar_url" class="max-w-[100px] object-cover rounded-full"
                                        alt="avatarImg">
                                    <div class="loader imgLoader"></div>
                                </div>
                                <h5 class="mt-2 text-light">{{ data.name ?? data.login }}</h5>
                            </a>
                        </div>
                    </div>


                    <div *ngIf="users.items.length === 0">
                        <span class="text-gray-50">No user found...</span>
                    </div>


                    <div class="flex justify-center mt-4">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="display: flex; flex-wrap: wrap;" id="pagination">

                            </ul>
                        </nav>
                    </div>
                    <div class="flex justify-center items-center gap-2 mt-2">
                        <span>Per Page:</span>
                        <div class="max-w-[250px]" >
                           

                            <select id="per_page"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"  aria-label="Per page" onchange="setPerPage(this)">
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select>
                            

                        </div>
                    </div>


                </div>
            </div>



            <!-- loader -->
            <div class="loader-div" id="loader">
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>